.header-container {
  background-color: #04505f;
  //background-color: black;
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    font-style: italic;
    cursor: pointer;
    i {
      font-size: 36px;
    }
    &:hover {
      //color: slategrey;
      color: darkgrey;
      transition: all 0.3s ease-in;
    }
  }
  .link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
    color: white;
    a {
      margin-left: 20px;
      font-size: 18px;
      cursor: pointer;
      &:hover {
        color: darkgrey;
        transition: all 0.3s ease-in;
      }
    }
  }
}
