.header-container {
  background-color: #04505f;
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    i {
      font-size: 36px;
    }
    &:hover {
      color: slategrey;
    }
  }
  .link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
    p {
      margin-left: 20px;
      font-size: 18px;
      &:hover {
        color: slategrey;
      }
    }
  }
}
